#passer le dictionnaire à la template jinja
#boucle qui parcourt les instances et qui remplie les variables
#gérer les tags !!!
#virer le running itérer sur toutes les instances

{% for index in range(instances_infos|length) %}
 
resource "google_compute_instance" "{{instances_infos[index]['name']}}" {
  name         = "{{instances_infos[index]['name']}}"
  machine_type = "{{instances_infos[index]['machine_type']}}"
  zone         = "{{instances_infos[index]['zone']}}"

{% if 'tags' in instances_infos[index] %}
  tags = {{instances_infos[index]['tags']}}
{% endif %}
  boot_disk {
    device_name = "{{instances_infos[index]['device_name']}}"
    initialize_params {
      image = "{{ instances_infos[index]['image']}}"
      size = "{{instances_infos[index]['disk_size']}}"
    }
  }
{% if 'labels' in instances_infos[index] %}
labels {
{% for key in instances_infos[index]['labels']  %}
   {{key}} = "{{instances_infos[index]['labels'][key]}}"{% endfor %}
}
{% endif %}
  network_interface {
    network = "{{ instances_infos[index]['network']}}"

    access_config {
      nat_ip = "{{ instances_infos[index]['ip']}}"
    }
  }

service_account {
  email = "{{ instances_infos[index]['service_account_email'] }}"
  scopes = {{ instances_infos[index]['scopes'] }}
}
}
{% endfor %}