# this template use informations from the import_instances.py files 
# and generate a terraform files of compute instance ressources
{% for index in range(instances_infos|length) %}
 
resource "google_compute_instance" "{{instances_infos[index]['name']}}" {
  name         = "{{instances_infos[index]['name']}}"
  machine_type = "{{instances_infos[index]['machine_type']}}"
  zone         = "{{instances_infos[index]['zone']}}"

{% if 'tags' in instances_infos[index] %}
  tags = {{instances_infos[index]['tags']}}
{% endif %}
  boot_disk {
    auto_delete = "{{instances_infos[index]['auto_delete']}}"
    initialize_params {
      image = "{{ instances_infos[index]['image']}}"
      size = "{{instances_infos[index]['disk_size']}}"
    }
  }

{% if 'attached_disk' in instances_infos[index] %}
  {% for attached_disk in instances_infos[index]['attached_disk'] %}
  attached_disk {
    source = "{{attached_disk['source']}}"
    mode = "{{attached_disk['mode']}}"
  }
  {% endfor %}
{% endif %}

{% if 'labels' in instances_infos[index] %}
labels {
{% for key in instances_infos[index]['labels']  %}
   {{key}} = "{{instances_infos[index]['labels'][key]}}"{% endfor %}
}
{% endif %}
  network_interface {
    network = "{{ instances_infos[index]['network']}}"

    access_config {
      nat_ip = "{{ instances_infos[index]['ip']}}"
    }
  }

{% if 'service_account_email' in instances_infos[index] %}
service_account {
  
  email = "{{ instances_infos[index]['service_account_email'] }}"
  scopes = {{ instances_infos[index]['scopes'] }}
  
}
{% endif %}
}
{% endfor %}